.container
  .center.heading-content
    %h1 Welcome to YouBlogz!
    %h2 Share your everyday journey with us! Create your first post. 
    = link_to "Sign up now!", new_user_registration_path, class: "btn btn-md btn-default"
.container
  .center.main-content
    